html {
  height: 100%;
}

body {
  height: 100%;
  overflow: hidden;
}

#game {
  height: 80vh;
  width: 80vw;
  padding: 10vh 10vw;
  /* background: rgb(113, 83, 42); */
  background: skyblue;
}

.menu {
  width: 100%;
  height: 15%;
  background: rgb(113, 83, 42);
}

.board {
  height: 85%;
  display: flex;
  flex: 7 1 auto;
  flex-direction: column;
  background: rgb(113, 83, 42);
  border: 10px solid rgb(39, 24, 15);
}

.row {
  flex: 1 1 auto;
  display: flex;
  height: 50%;
}

.cell {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 100%;
  position: relative;
  overflow:hidden;
}

/* .cell:after {
  height:50%;
  width:100%;
  position:relative;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  content:'';
  display:block;
  position:absolute;
  left:-75%;
  background-color: darkred;
  background-size:cover;
} */

/* Top row */
.row:nth-child(1) > .cell {

}

/* Bottom row */
.row:nth-child(2) > .cell {
  flex-direction: column-reverse;
}


/* White cells */
.row:nth-child(even) > .cell:nth-child(even), .row:nth-child(odd) > .cell:nth-child(odd) {
  /* background-image: url("assets/whitecell.png"); */
  background-color: rgb(228, 228, 175);
}

/* Brown cells */
.row:nth-child(odd) > .cell:nth-child(even), .row:nth-child(even) > .cell:nth-child(odd) {
  /* background-image: url("assets/browncell.png"); */
  background-color: #3e2311;
}

.piece {
  cursor: pointer;
  height: 5vh;
  width: 5vh;
  border-radius: 50%;
  background: beige;
  border: 2px solid black;
  align-self: center;
  z-index: 1;
  text-align: center;
}

.reachable {
  position: absolute;
  background-color: blueviolet;
  width: 10%;
  height: 20px;
  left: 45%;
  z-index: 2;
}

.dice {
background: #3e2311;
height: 50%; 
width: 20%;
margin: 0 auto;
display: flex;
justify-content: space-evenly;
position: relative;
top: 25%;
cursor: pointer;
border: 2px solid rgb(39, 24, 15);
border-radius: 5px;
}

.die {
width: 25%;
height: 80%;
flex: 0 1 auto;
align-self: center;
background: beige;
border-radius: 7px;
text-align: center;
}
